#fullpage
  .section.yellow-bg
    Some section
  .section.green-bg
    Some section
  .section.blue-bg
    Some section
  .section.dark-blue-bg
    Some section
  .section.light-gray-bg
    Some section
  .section.gray-bg
    Some section
  .section.dark-gray-bg
    Some section


:javascript
  $(document).ready(function() {
    $('#fullpage').fullpage();
  });
