#fullpage
  .section.yellow-bg
    %header
      = image_tag "images/rewind.svg"
      = image_tag "images/rewind-arrow.svg"
    =image_tag "images/title-text.svg", class: "title-text"
    .down-arrow
      =image_tag "images/down-arrow.png"
  .section.green-bg
    Some section
  .section.blue-bg
    Some section
  .section.dark-blue-bg
    Some section
  .section.light-gray-bg
    Some section
  .section.gray-bg
    Some section
  .section.dark-gray-bg
    Some section


:javascript
  $(document).ready(function() {
    $('#fullpage').fullpage();
  });
